{% extends 'layout.html' %}


{% block content %}
    {% for post in posts %}
        {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}
        <div class="item">
            <header>
                <h1>{{ post.title }}</a></h1>
                <p><em>{{ post.date }}</em>{% if post.tags %} <span>&raquo;</span> {% for
                    tag in post.tags %}<a href="{{ get_url(tags[tag].url) }}">{{
                        tag }}</a>{% if not loop.last %}, {% endif %}{% endfor
                    %}{% endif %}</p>
            </header>
            <div class="body">{{ post.content }}</div>
        </div>
    {% endfor %}

    {% if site.post_limit and posts|length > site.post_limit %}
        <div class="pagination">
            <p><a href="{{ get_url('archives/') }}">Read Older Posts</a></p>
        </div>
    {% endif %}
{% endblock %}
