{% extends 'layout.html' %}


{% set title = 'Archives  &rsaquo; ' ~ archive.year %}

{% block content %}
    <h1>Archives &rsaquo; {{ archive.year }}</h1>
    <ul>
        {% for month, posts in archive.months %}
            {% for post in posts %}
            <li>
                {{ post.timestamp|date('%b %d') }} -
                <a href="{{ get_url(post.url) }}">{{ post.title }}</a>
                {% if post.tags %}
                <div>
                    <small>
                        <span>tagged &raquo;</span>
                        {% for tag in post.tags %}
                            <a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
