{% extends 'layout.html' %}

{% set title = 'Colophon' %}

{% block content %}
    <h1>Hi, Stranger</h1>
    <p>We might have met in person or through social media, but if you don't
        know me yet, just <a href="https://twitter.com/iromli" target="_blank">drop me a line</a> if you wanna talk.</p>
    <h3>The Author</h3>
    <p>I'm <strong>Isman Firmansyah</strong>, a music lover and backend
        developer from Indonesia.</p>
    <p>My days are (mostly) spent on <a href="http://www.sixreps.com/">SixReps</a>' backend stack (MySQL, Redis, ElasticSearch) and web apps/services (Tornado, Pyramid, Flask). When i'm not in my employee-mode lifecycle, i hack a few open source projects, read books, watch movies, play video games, or do things that keep me sane as human being.</p>
    <h3>The Website</h3>
    <p>Through this website, i'll try to share my passions about music, tech, and personal opinions. I've warned you :) ...</p>
{% endblock %}
