* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: rgb(24, 33, 61);
    color: #fff;
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(142, 142, 214);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 3px solid rgb(103, 103, 180);
    color: #fff;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid rgb(142, 142, 214);
    color: rgb(142, 142, 214);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}


blockquote{padding:0 0 0 15px;margin:0 0 20px;border-left:5px solid #eeeeee;}blockquote p{margin:0;padding:0;font-style:italic;}
.codehilite .hll{background-color:#ffffcc;}
.codehilite{background:#f8f8f8;padding:10px;border:solid 1px #DDD;}
.codehilite .c{color:#8f5902;font-style:italic;}
.codehilite .err{color:#a40000;border:1px solid #ef2929;}
.codehilite .g{color:#000000;}
.codehilite .k{color:#204a87;font-weight:bold;}
.codehilite .l{color:#000000;}
.codehilite .n{color:#000000;}
.codehilite .o{color:#ce5c00;font-weight:bold;}
.codehilite .x{color:#000000;}
.codehilite .p{color:#000000;font-weight:bold;}
.codehilite .cm{color:#8f5902;font-style:italic;}
.codehilite .cp{color:#8f5902;font-style:italic;}
.codehilite .c1{color:#8f5902;font-style:italic;}
.codehilite .cs{color:#8f5902;font-style:italic;}
.codehilite .gd{color:#a40000;}
.codehilite .ge{color:#000000;font-style:italic;}
.codehilite .gr{color:#ef2929;}
.codehilite .gh{color:#000080;font-weight:bold;}
.codehilite .gi{color:#00a000;}
.codehilite .go{color:#000000;font-style:italic;}
.codehilite .gp{color:#8f5902;}
.codehilite .gs{color:#000000;font-weight:bold;}
.codehilite .gu{color:#800080;font-weight:bold;}
.codehilite .gt{color:#a40000;font-weight:bold;}
.codehilite .kc{color:#204a87;font-weight:bold;}
.codehilite .kd{color:#204a87;font-weight:bold;}
.codehilite .kn{color:#204a87;font-weight:bold;}
.codehilite .kp{color:#204a87;font-weight:bold;}
.codehilite .kr{color:#204a87;font-weight:bold;}
.codehilite .kt{color:#204a87;font-weight:bold;}
.codehilite .ld{color:#000000;}
.codehilite .m{color:#0000cf;font-weight:bold;}
.codehilite .s{color:#4e9a06;}
.codehilite .na{color:#c4a000;}
.codehilite .nb{color:#204a87;}
.codehilite .nc{color:#000000;}
.codehilite .no{color:#000000;}
.codehilite .nd{color:#5c35cc;font-weight:bold;}
.codehilite .ni{color:#ce5c00;}
.codehilite .ne{color:#cc0000;font-weight:bold;}
.codehilite .nf{color:#000000;}
.codehilite .nl{color:#f57900;}
.codehilite .nn{color:#000000;}
.codehilite .nx{color:#000000;}
.codehilite .py{color:#000000;}
.codehilite .nt{color:#204a87;font-weight:bold;}
.codehilite .nv{color:#000000;}
.codehilite .ow{color:#204a87;font-weight:bold;}
.codehilite .w{color:#f8f8f8;text-decoration:underline;}
.codehilite .mf{color:#0000cf;font-weight:bold;}
.codehilite .mh{color:#0000cf;font-weight:bold;}
.codehilite .mi{color:#0000cf;font-weight:bold;}
.codehilite .mo{color:#0000cf;font-weight:bold;}
.codehilite .sb{color:#4e9a06;}
.codehilite .sc{color:#4e9a06;}
.codehilite .sd{color:#8f5902;font-style:italic;}
.codehilite .s2{color:#4e9a06;}
.codehilite .se{color:#4e9a06;}
.codehilite .sh{color:#4e9a06;}
.codehilite .si{color:#4e9a06;}
.codehilite .sx{color:#4e9a06;}
.codehilite .sr{color:#4e9a06;}
.codehilite .s1{color:#4e9a06;}
.codehilite .ss{color:#4e9a06;}
.codehilite .bp{color:#3465a4;}
.codehilite .vc{color:#000000;}
.codehilite .vg{color:#000000;}
.codehilite .vi{color:#000000;}
.codehilite .il{color:#0000cf;font-weight:bold;}
.codehilitetable{border-collapse:collapse;border:#DDD solid 1px;}
.codehilitetable .code{width:100%;}
.codehilitetable .linenos{background-color:#ECECEC;text-align:right;border-right:#DDD solid 1px;padding:0 10px;}
.codehilitetable .codehilite{
    padding: 10px;
    border: none;
}
.codehilite, .linenos {
    line-height: 1.5em;
    font-size: 0.8em;
}
.codehilite pre {margin:0;}
code{font-family:Consolas,Menlo,"Courier New",monospace;white-space:nowrap;line-height:20px;font-size:12px;background-color:#FAFAFA;border:1px solid #CCC;margin:0px 2px;padding:1px 3px;}
pre{font-family:Consolas,Menlo,"Courier New",monospace;}
pre code{border:#D5D5D5 solid 1px;overflow-x:auto;padding:10px;display:block;white-space:pre;font-weight:normal;font-style:normal;font-size:13px;}

.pull-right {float: right;}
.pull-left {float: left;}
img.thumbnail {
    border: solid 1px #DDD;
    padding: 0.2em;
}
#legal {
    font-style: italic;
    color: #444;
}
