<section class="site-nav">
    <header>
        <nav id="navigation">
            {% if conf.logo %}
            <a class="brand" href="{{ env.path ~ '/' }}">
                <img src="{{ env.path ~ '/img/' ~ conf.logo }}" alt="">
            </a>
            {% endif %}
            {% for nav in conf.top_nav %}
                <a href="{{ env.path ~ nav[1] }}">{{ nav[0] }}</a>
            {% else %}
                <a href="{{ env.path ~ '/' }}">Home</a>
            {% endfor %}
        </nav>

        {% if conf.tagline %}
        <nav class="tagline">
            <span>{{ conf.tagline }}</span>
            {% if conf.product_link %}
                <a href="{{ conf.product_link[1] }}" class="btn btn-outline">{{ conf.product_link[0] }}</a>
            {% endif %}
        </nav>
        {% endif %}
    </header>
</section>
