{% extends "base.html" %}

{% block title %}{{ conf.sitename }}{% endblock %}

{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">Archives</h2>
            </header>

            <div class="post-description">
            {% for year in env.entrylist | archivesfor %}
                <h3>{{ year }}</h3>
                <dl>
                {% for entries in year %}
                    {% for entry in entries["items"] %}
                        <dt class="pure-u-1-5"><em>{{ entry.date.strftime("%A, %b %d") }}</em></dt>
                        <dd class="pure-u-3-5"><a href="{{ entry.permalink }}">{{ entry.title | e }}</a></dd>
                    {% endfor %}
                {% endfor %}
                </dl>
            {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
