{% extends "base.html" %}

{% block title %}{{ conf.sitename }}{% endblock %}

{% block content %}
<article class="container">
    {% for year in env.globals.entrylist | archivesfor %}
        {% for month in year %}
            {% for entry in month.items %}
                <section class="index">
                    <div>
                        <h2 class="title"><a href="{{ env.path ~ entry.permalink }}">{{ entry.title | e }}</a></h2>
                        <div class="meta">
                            Written by <address> <span rel="author" title="{{ entry.author }}">{{ entry.author }} &mdash; <time pubdate datetime="{{ entry.date.strftime('%Y-%d-%B') }}" title="{{ entry.date.strftime('%B %d, %Y') }}">{{ entry.date.strftime("%B %d, %Y") }}</time></address>
                        </div>
                    </div>
                    <hr>
                </section>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</article>
{% endblock %}
