<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% if conf.google_font %}
            <link href="https://fonts.googleapis.com/css?family={{ conf.google_font }}" rel="stylesheet" type="text/css">
        {% endif %}
        <link rel="shortcut icon" href="{{ env.path ~ '/favicon.ico' }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ env.path ~ '/img/logo.png'}}"/>
        {% if conf.feed_url %}
            {% set feed_type = conf.views[conf.feed_url]["views"][0] %}
            <link href="{{ conf.www_root ~ conf.feed_url }}" rel="alternate" type="application/{{ feed_type }}+xml" title="{{ conf.sitename }}" />
        {% endif %}
        <link media="all" href="{{ env.path ~ '/css/main.css' }}" rel="stylesheet" />
    {% endblock %}
    </head>
    <body>
        {% include "_site_nav.html" %}
        {%- block content -%}{%- endblock -%}
        {% include "_site_footer.html" %}
        {% block javascript %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
