<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% block head -%}
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% if conf.author %}<meta name="author" content="{{ conf.author }}">{% endif %}
        {% if conf.description %}<meta name="description" content="{{ conf.description }}">{% endif %}
        <link href="{{ env.path + '/static/css/style.css'}}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ env.path + '/static/img/favicon.ico'}}" type="image/x-icon">
        {%- endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="sidebar-container">
                    <div id="sidebar" class="span3">
                        <h1 id="site-title">{{ conf.sitename|lower }}</h1>
                        <h2>Explore</h2>
                        <ul>
                            <li><a href="{{ env.path + '/' }}">Home</a></li>
                            <li><a href="{{ env.path + '/about/' }}">About</a></li>
                        </ul>
                        <h2>Feeds</h2>
                        <ul>
                            <li><a href="{{ env.path + '/atom.xml' }}">Atom</a></li>
                            <li><a href="{{ env.path + '/rss.xml' }}">RSS</a></li>
                        </ul>
                        <h2>Elsewhere</h2>
                        <ul>
                            <li>
                                <a href="http://github.com/iromli" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="http://twitter.com/iromli" target="_blank">Twitter</a>
                            </li>
                        </ul>
                        <p id="legal">{{ conf.sitename }} &copy; 2013 <br/><a href="https://github.com/iromli/groovematic" target="_blank">Use the source, Luke!</a></p>
                    </div>
                </div>
                <div id="main" class="offset4 span12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
