{% extends "base.html" %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
        <meta name="description" content="{{ entry.description | e }}" />
        <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block content %}
    {% if entry.cover_image %}
    <div class="article-cover">
        <div>
            <img src="{{ env.path ~ '/img/covers/' ~ entry.cover_image }}" class="image">
        </div>
    </div>
    {% endif %}

    <article>
        {% set author_twitter = entry.author_twitter or conf.twitter %}
        <div class="container">
            <header>
                <div class="meta">
                    By <address><span rel="author" title="{{ entry.author }}">{{ entry.author }}</span> &mdash;
                    <time pubdate datetime="{{ entry.date.strftime('%Y-%d-%B') }}" title="{{ entry.date.strftime('%B %d, %Y') }}">{{ entry.date.strftime("%B %d, %Y") }}</time>
                </div>
                <h1 class="title">{{ entry.title }}</h1>
                {% if entry.subtitle %}<h2 class="subtitle">{{ entry.subtitle }}</h2>{% endif %}
            </header>

            <section>
                {{ entry.content }}
                {% if conf.sharing %}
                    <div class="social">
                        {% if conf.sharing_twitter  %}<div>
                            <a href="https://twitter.com/share" class="twitter-share-button" {% if conf.sharing_twitter_via %}data-via="{{ conf.sharing_twitter_via }}"{% endif %} data-text="{{ entry.title }}" data-related="{{ conf.twitter }}">Tweet</a>
                        </div>
                        {% endif %}

                        {% if conf.sharing_hn %}
                        <div>
                            <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
                        </div>
                        {% endif %}

                        {% if conf.sharing_gplus %}
                        <div>
                            <div class="g-plusone" data-size="medium"></div>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </section>

            <footer>
                <address>
                    {% if entry.author_image %}<img src="{{ env.path ~ '/img/authors/' ~ entry.author_image }}">{% endif %}
                    Written by <strong><a rel="author" href="{{ entry.author_link or '/' }}" title="{{ entry.author }}">{{ entry.author }}</a></strong><br>
                    <span class="muted">{{ entry.author_bio }}</span>
                    {% if author_twitter %}
                        <div class="follow">
                            <a href="https://twitter.com/{{ author_twitter }}" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @{{ entry.author_twitter }}</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                    {% endif %}
                </address>
            </footer>
            {% if conf.disqus_shortname and env.type == "entry"%}
            <section id="disqus_thread"></section>
            {% endif %}
        </div>
    </article>
{% endblock %}

{% block javascript %}
    {{ super() }}
    {% if conf.disqus_shortname and env.type == "entry" %}
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ conf.disqus_shortname }}'; // required: replace example with your forum shortname
            if (window.location.hostname != 'localhost') {
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = '{{ env.protocol }}://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);}());
            }
        </script>
    {% endif %}
    {% include "_social_share.html" %}
{% endblock %}
