{% extends "base.html" %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block content %}
    {% if conf.banner %}
        <div class="blog-cover" style="background-image:url({{ env.path ~ '/img/' ~ conf.banner }});">
            <section>
                <div>
                    <h1>{{ conf.sitename }}</h1>
                    {% if conf.subtitle %}<h3>{{ conf.subtitle }}</h3>{% endif %}
                    {% if conf.twitter %}
                    <a href="https://twitter.com/{{ conf.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
                    {% endif %}
                    {% if conf.feed_url %}
                        {% set feed_type = "Atom" if conf.views[conf.feed_url]["views"][0] == "atom" else "RSS" %}
                        <a href="{{ env.path ~ conf.feed_url }}" title="{{ feed_type }} Feed">
                            <i class="icon icon-rss"></i>
                        </a>
                    {% endif %}
                </div>
            </section>
        </div>
    {% endif %}

    <article class="container">
        {% for entry in env.entrylist %}
            <section class="index">
                <div>
                    <h2 class="title"><a href="{{ env.path ~ entry.permalink }}" rel="prefetch">{{ entry.title }}</a></h2>
                    {{ entry.content }}
                    <div class="meta">
                        Written by <address> <span rel="author" title="{{ entry.author }}">{{ entry.author }}</span> &mdash; <time pubdate datetime="{{ entry.date.strftime('%Y-%d-%B') }}" title="{{ entry.date.strftime('%B %d, %Y') }}">{{ entry.date.strftime("%B %d, %Y") }}</time></address>
                    </div>
                </div>
                <hr>
            </section>
        {% endfor %}

        {% if env.next or env.prev %}
            <section class="pagination" style="text-align:center;">
            {% if env.next is not none %}
                <a href="{{ env.path ~ env.next }}" class="btn btn-outline">&larr; Newer</a>
            {%- endif  %}
            {% if env.prev is not none %}
                <a href="{{ env.path ~ env.prev }}" class="btn btn-outline">Older &rarr;</a>
            {% endif %}
            </section>
        {% endif %}
    </article>
{% endblock %}
