{% extends "base.html" %}

{% block title %}
    {%- if entry is defined -%}
        {{ entry.title }}
    {%- else -%}
        {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
    <div class="item">
        <header>
            <h1>{{ entry.title }}</h1>
            <p><em>{{ entry.date.strftime("%A, %B %d, %Y") }}</em></p>
        </header>
        <div class="body">
            {{ entry.content }}
        </div>
    </div>
    <div class="neighbors">
        {% if env.prev is not none %}
        <div class="pull-left">
            <span>&larr;</span> <a href="{{ env.path ~ env.prev ~ '/' }}">{{ env.prev.title | replace("»", "") | trim }}</a>
        </div>
        {% endif %}
        {% if env.next is not none %}
        <div class="pull-right">
            <a href="{{ env.path ~ env.next ~ '/' }}" class="pull-left">{{ env.next.title | replace("«", "") | trim }}</a> <span>&rarr;</span>
        </div>
        {% endif  %}
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    {% if conf.disqus_shortname %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            if (window.location.hostname != 'localhost') {
                var dq_container = document.getElementById('disqus_thread');

                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                // required: replace example with your forum shortname
                var disqus_shortname = "{{ conf.disqus_shortname  }}";

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();

                dq_container.style['padding-top'] = '40px';
                dq_container.style['margin-bottom'] = '40px';
                dq_container.style['border-top'] = 'dashed 1px #DDD';
            }
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
{% endblock %}
