{% extends "base.html" %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
        <meta name="description" content="{{ entry.description | e }}" />
    {%- endif -%}
{% endblock %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <section>
                {{ entry.content }}
            </section>
        </div>
    </article>
{% endblock %}
